.tabs {
    margin: 0 0 20px 0;
    background-color: #000;
    border-bottom: 1px solid #2c3238;
}
.tabs ul {
    padding: 0 20px;
}
.tabsTitle {
    display: inline-block;
    position: relative;
}
.tabsTitle.isActive {
}
.tabsTitle a {
    display: block;
    margin: 36px 11px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}