.subheader {
    margin: 40px 0;
    color: rgba(255, 255, 255, 0.9);
    font-size: 32px;
    text-align: center;
}
.reviewsList {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}
.review {
    width: 50%;
    padding: 20px 10px;
    box-sizing: border-box;
}