html,body {
    margin: 0;
    padding: 0;
    background-color: #0E1317;
    color: #fff;
    font-family: "Nunito", sans-serif;
    line-height: 1.6;
}
.container {
    margin: auto;
    max-width: 1200px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}